[Unit]
Description=yavatar
ConditionPathExists=/opt/yavatar/yavatar
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/opt/yavatar
ExecStart=/opt/yavatar/yavatar
StandardError=append:/var/log/yavatar/app.log

Restart=on-failure
RestartSec=10

ExecStartPre=/bin/mkdir -p /var/log/yavatar
ExecStartPre=/bin/chown syslog:adm /var/log/yavatar
ExecStartPre=/bin/touch /var/log/yavatar/app.log
ExecStartPre=/bin/chmod 775 /opt/yavatar/yavatar

[Install]
WantedBy=multi-user.target
