[Unit]
Description=yavatar
ConditionPathExists=/opt/yavatar/yavatar
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/opt/yavatar
ExecStart=/opt/yavatar/yavatar

Restart=on-failure
RestartSec=10

ExecStartPre=/bin/chmod 775 /opt/yavatar/yavatar

[Install]
WantedBy=multi-user.target
